<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metafin</title>
    
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="inicio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    
    
</head>
<body>

  <div class="container-metafin">
    <h1>MetaFin</h1>
    <p>Olá, seja bem-vindo.</p>
  </div>

  <div class="container-button">
    <a href="/login" id="entrar">Entrar</a>
    <a href="/cadastro" id="cadastrar">Cadastrar</a>
  </div>

  </body>
</html>